@charset "utf-8";
/* CSS Document */

body {
  front-family: "Georgia", serif;
  color:black;
  line-height:140%;
  margin:30px;
   background-image: url("page-bg.gif");
  background-color:#F7F3DE;  
}

header h1{
   font-size:350%;
  color:#7C1A00;
  padding:40px;
  padding-left:120px;
}

#container {
 margin-bottom:30px;
}

nav{
  float: left;
  width:150px; 
}
nav ul{
 padding:0px;
 margin:0px;
 list-style-type:none;
  color:#7C1A00
}

nav li {
  margin:10px;
  border width:1px;
  border-style:solid;
  border-color:#7C1A00;
  background-color:#FFE597;
}

nav a{
color:white;
background-color:#8C9273;
padding:3px;
right-padding:60px;
}
