@charset "utf-8";
/* CSS Document */

body {
  front-family: "Georgia", serif;
  color:black;
  line-height:140%;
  margin:30px;
  background-color:#F7F3DE;  
}
header{
   front-size:350%;
  color:#7C1A00;
  padding:40px;
  padding-left:120px;
  
}
